html{
  background: Peru;
}
h1 {
 color: Snow;
 text-align: center; 
  }
a{
  color: green
}
h2  {
  color: DarkSlateGrey;  
  background: Peru; 
  text align: left; 
} 
h3 {
  color: DarkBlue;
  background: Peru; 
  text-align: center;
}
